#header{
    background:#fff;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
    line-height:1.8em;
    display:flex;
    align-items:center;
    padding:0 50px;
    column-gap:50px;
    overflow:hidden;
}

#logo-container{
    display:block;
    height:80px;
    cursor:pointer;
}

#logo-container img{
    height:100%;
    padding:5px 0;
}

#header h1{
    font-size:1.5em;
    cursor:default;
}

#header nav{ flex: 1 }

#header nav ul{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    gap:30px;
}

#header nav li{
    list-style-type:none;
}

#header nav li a{
    display:block;
    text-align:center;
    color:inherit;
    text-decoration:none;
    line-height:1.2em;
    padding:15px 20px;
    border-radius:2px;
    transition:background 200ms;
}

#header nav li.selected a, #header nav li a:hover{
    background:rgb(240,241,243);
}

@media screen and (max-width:768px){
    #header{
        flex-wrap:wrap;
        padding:5px 20px;
        column-gap:30px;
        justify-content:space-between;
    }

    #header nav ul{
        justify-content:space-between;
        gap:0;
    }
}