#container{
    text-align:center;
    padding:20px 20px 50px 20px;
}

#search-container{
    width:100%;
    max-width:800px;
    background:blue;
    display:inline-block;
}

#search-bar{
    width:100%;
    font-size:2.5rem;
    font-weight:500;
    padding:10px 20px;
    border:none;
    border-radius:2px;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
    text-align:center;
}

#status-container{
    height:100px;
    line-height:100px;
}

#results-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:30px;
    margin:0 30px;
}

.result{
    text-align:left;
    background:#fff;
    border-radius:2px;
    box-shadow:2px 2px 0 2px var(--box-shadow-color);
    padding:30px;
    cursor:pointer;
    animation:200ms ease-out fadeIn;
}

.result:active{
    box-shadow:none;
    transform:translate(1px,1px);
}

@keyframes fadeIn{
    0% {
        opacity:0;
        transform:scale(0.95);
    }
    80% {
        transform:scale(1.02);
    }
    100% {
        opacity:1;
        transform:scale(1);
    }
}

.result-title{
    line-height:1.5rem;
    margin:0 0 10px 0;
}

.result-title > *{
    vertical-align:middle;
}

.title-bloc{
    display:inline-block;
    border-radius:2px;
    color:#fff;
    font-size:1rem;
    padding:0 10px;
    margin-right:10px;
    width:60px;
    text-align:center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align:-5px;
}

.load-button{
    font-size:1.5rem;
    font-weight:500;
    margin-top:30px;
    padding:10px 30px;
    background:#fff;
}