.poll-table{
    display:grid;
    position:relative;
    z-index:1;
    grid-template-columns: [pollster] minmax(150px, max-content) [fieldwork] minmax(80px, max-content) [sample] minmax(80px, max-content) [figures] minmax(320px, 1fr);
    row-gap:2px;
    text-align:left;
}
.poll-table.compact{
    margin-top:30px;
    grid-template-columns: [pollster] minmax(25px, max-content) [fieldwork] minmax(25px, max-content) [figures] minmax(175px, 1fr);
}

.row{ 
    display:contents;
    cursor:default;
 }
.row:nth-child(2n + 1) > *{
    background:rgba(245,245,245);
}
.row:not(.header):hover > *{
    background:#ddd;
}

.row > *{
    display:flex;
    align-items:center;
    padding:0 15px;
}

.row > *:first-child{
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
.row > *:last-child{
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}

.pollster{
    grid-column:pollster;
}

.pollster a{
    color:inherit;
    text-decoration:none;
}


.row:hover .pollster a{
    color:blue;
    text-decoration:underline;
}

.pollster > span, .fieldwork, .sample{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.fieldwork{ grid-column:fieldwork }
.sample{ 
    grid-column:sample;
    justify-content:center;
 }

.figures{
    grid-column:figures;
    display:flex;
    text-align:center;
    gap:2px;
    font-size:1.2em;
}

.header > *{
    font-size:1.2em;
    position:sticky;
    top:0;
    background:#fff;
    border-bottom:2px solid #fff;
    padding-block:15px;
}

.header > .figures{
    color:#fff;
}

.figures > div{
    flex:1 1 0px;
    width:0;
    padding:5px 0;
    border-radius:2px;
}

.client-span, :not(.header) > .fieldwork{
    color:rgb(102, 102, 102);
}