.boundary-change-note{
    padding:30px 30px;
    margin:30px 0;
    border-top:3px dashed #DDD;
    border-bottom:3px dashed #DDD;
    color:#333;
}
.boundary-change-note:before{ width:0 !important }

.update-note{
    margin:30px 0;
    padding:30px;
    background:#fff;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
    display:flex;
    align-items:center;
    gap:20px;
}

.update-note h2{
    flex-shrink:0;
}

.party-bloc{
    flex-shrink:0;
    color:#fff;
    background:var(--default-color);
    width:80px;
    border-radius:2px;
    padding:4px 8px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:default;
    text-align:center;
    font-weight:450;
}