/*  Parent section should have a grid display;
*   RegionBarGraph will then inherit subgrid.
*   This ensures that all RegionBarGraphs have the same column widths on the page.
*   RegionBarGraphs could otherwise differ because of different content widths.
*/
    section:has(> .container){
        display:grid;
        row-gap:30px;
        grid-template-columns:30px 80px repeat(3, minmax(20px, min-content)) 1fr 30px;
    }

    section:has(> .container) > *{
        grid-column: 1 / span 7;
    }


.container{
    padding:30px;
    background:#fff;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
}

.container, .bar-graph-container{
    display:grid;
    grid-template-columns:subgrid;
}
.container > *, .bar-graph-container > *{ grid-column: 1 / -1 }

.bar-graph-container{
    margin-top:20px;
    gap:5px;
}

.bar-graph-row{
    display:flex;
    color:#fff;
    font-weight:350;
    grid-column-start:2;
    display:grid;
    grid-template-columns:subgrid;
}

.bar-graph-bloc{
    border-radius:2px;
    padding:4px 15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:default;
}

.bar-graph-party{
    text-align:center;
    font-weight:450;
    position:relative;
    cursor:pointer;
    overflow:visible;
}

.bar-graph-party span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.bar-detail-hover{
    position:absolute;
    background:#fff;
    color:#000;
    height:100%;
    top:0;
    left:100%;
    margin-left:5px;
    border-radius:2px;
    padding:4px 8px;
    opacity:0;
    z-index:2;
    pointer-events:none;
    transition:opacity 100ms;
}
    .bar-graph-party:hover .bar-detail-hover{
        opacity:1;
    }

.bar-graph-candidate{
    padding:4px 15px;
    max-width:200px;
}

.bar-graph-votes, .bar-graph-percentage{
    text-align:right;
    padding:4px 10px 4px 25px;
}

.bar-graph-bar-container{
    background:rgb(227,227,227);
    border-radius:2px;
    overflow:hidden;
}

.bar-graph-bar{
    height:100%;
    padding:0;
}

@media screen and (max-width: 750px){

    section:has(> .container){
        grid-template-columns:15px minmax(20px, 80px) repeat(3, minmax(20px, min-content)) 1fr 15px;
    }

    .container{
        padding:30px 15px;
    }

    .bar-graph-candidate, .bar-graph-votes, .bar-graph-percentage{
        padding:4px 10px;
    }
}