#Header:has(~ #LandingGlobe){ background:none; box-shadow:none; }

#LandingGlobe{
    min-height:100vh;
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
    padding:0 var(--left-gap);
}

#LandingGlobe > canvas{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    transition:opacity 500ms;
    &.pointer{ cursor:pointer }
}
#LandingGlobe.loading > canvas{ opacity:0 }

#LandingGlobe > main{
    position:relative;
    z-index:1;
    padding:20px;
    min-width:calc(50vw - 2*var(--left-gap));
    display:flex;
    flex-direction:column;
    gap:20px;
    & > hgroup > img{
        height:45px;
        vertical-align:middle;
    }
    & > hgroup > h1{
        margin-left:10px;
        text-transform:uppercase;
        display:inline-block;
        vertical-align:middle;
    }
    & > hgroup > p{
        margin-top:-5px;
        font-size:1.2em;
    }
    & ul{
        margin:0;
    }
}

#LandingGlobe__placeholder{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    transition:opacity 500ms;
}
#LandingGlobe:not(.loading) #LandingGlobe__placeholder{
    opacity:0;
}