@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --default-color: #AAA;
    --box-shadow-color: rgba(200,200,200,0.1);
    --left-gap:100px;
    --view-transition:300ms;
}

@view-transition{ navigation: auto }
::view-transition-old(root), ::view-transition-new(root){ animation-duration: var(--view-transition) }

@media screen and (min-width:768px){
    @keyframes zoom-to {
        from{ transform: scale(0.95); opacity:0 }
        to{ transform: scale(1); opacity:1 }
    }
    .from-globe::view-transition-new(root){
        transform-origin:left;
        opacity:0;
        animation: calc(var(--view-transition) / 2) ease-in calc(var(--view-transition) / 2) forwards zoom-to;
    }
    .to-globe::view-transition-old(root){
        transform-origin:left;
        animation: ease-in var(--view-transition) reverse forwards zoom-to;
    }
}
@media (prefers-reduced-motion: reduce){
    ::view-transition-group(*), ::view-transition-old(*), ::view-transition-new(*){
        animation: none !important;
    }
}

*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: "Oswald", sans-serif;
    text-underline-offset:2px;
}

@font-face{
    font-family: "OswaldTnum";
    font-display: swap;
    src: _url("/public/Oswald-tnum.woff2") format('woff2');
    unicode-range: U+0020, U+002C, U+002E, U+0025, U+0030-0039, U+2044, U+00BC-00BE, U+00B2-U+00B3, U+00B9, U+2074;
}
.tnum{
    font-family: "OswaldTnum", "Oswald", sans-serif;
    font-variant-numeric: tabular-nums;
}

html{
    font-size: 16px;
}

body{
    margin:0;
    padding:0;
    background: rgb(240,241,243);
}

h1, h2, h3, h4, h5, h6{ margin: unset }

h1{ font-weight: 700; font-size:2.8em; }
h2{ font-weight: 600 }
h3{ font-weight: 500 }
h4{ font-weight: 400 }

a.unstyled{
    text-decoration:inherit;
    color:inherit;
}

section{
    position:relative;
    padding:30px 0;
    margin:0 0 50px 0;
}

.content-section{
    margin:0 var(--left-gap);
    padding:0;
    & > h1{ margin: 0}
    & > p{
        font-size:1.1em;
        max-width:110ch;
        line-height:1.6em;
        text-wrap:pretty;
    }
}

.shaded{
    scroll-margin-top:30px;
    background:rgb(220,220,220);
    border-radius:2px;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
}

.shaded.purple { background:rgb(220,220,245); color:rgb(22, 22, 76) }
.shaded.purple *{ --box-shadow-color:rgb(190,190,215) }

.shaded.yellow { background:rgb(248, 250, 220); color:rgb(78, 82, 12) }
.shaded.yellow *{ --box-shadow-color: rgb(211, 215, 190) }

.shaded.red { background:rgb(244, 212, 212); color:rgb(73, 19, 19) }
.shaded.red *{ --box-shadow-color: rgb(200, 190, 190) }

.shaded.green { background:rgb(220, 250, 225); color:rgb(12, 82, 23) }
.shaded.green *{ --box-shadow-color: rgb(190, 200, 180) }

#hero{
    text-align:center;
    padding:50px var(--left-gap) 50px var(--left-gap);
    background:rgb(220,220,245);
    margin-bottom:70px;
}

#hero h1{
    display:flex;
    justify-content:center;
    align-items:baseline;
    gap:15px;
    font-size:3.5em;
    line-height:1.2em;
    padding-bottom:30px;
    margin:10px 0;
}

.breadcrumb{ 
    text-decoration:none;
    color:#000;
}
.breadcrumb:hover{
    color:rgb(35, 35, 123);
}

.breadcrumb > *{ vertical-align:middle }

.breadcrumb svg{
    width:15px;
    margin-right:5px;
}

main > section.shaded{
    margin:0 var(--left-gap) 50px var(--left-gap);
    padding:20px 50px 50px 50px;
}

main > section > h1{
    margin:50px var(--left-gap);
    display:inline-block;
    vertical-align:middle;
}
section.shaded > h1{ margin-left: 0 }

.heading-link{
    text-decoration:none;
    color:#000;
}
.heading-link:hover{
    color:rgb(35, 35, 123);
}

.heading-link > *{ vertical-align:baseline }

.heading-link svg{
    width:30px;
    margin-left:10px;
}

main > section > .section-heading{
    margin:50px var(--left-gap);
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:20px 50px;
}

a.interactive{
    cursor:pointer;
    text-decoration:underline;
    transition:background-color 100ms;
    padding:0 1px;
}
a.interactive:hover{
    background-color:rgb(230,230,230);
}

button{
    -webkit-appearance:none;
    appearance:none;
    border:none;
    cursor:pointer;
}
button.unstyled{ 
    background:unset;
    padding:0;
    margin:0;
}

button:not(.unstyled){
    border-radius:2px;
    box-shadow:2px 2px 0 2px var(--box-shadow-color);
}

button:not(.unstyled):active{
    box-shadow:none;
    transform:translate(1px,1px);
}

li{ list-style-type:square }

:is(details:open, details[open]) .closed-only{ display:none }
:is(details:not(:open), details:not([open])) .open-only{ display:none }
summary{ list-style-type: none; }
summary::marker, summary::-webkit-details-marker{
    display:none;
    content: '';
}
summary .summary-label{
    cursor:pointer;
    user-select:none;
}

details summary .has-marker:after{
    content: "";
    display:inline-block;
    width:10px;
    height:10px;
    margin-left:5px;
    vertical-align:baseline;
    background-image:_url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000'%3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:left;
}
:is(details:open, details[open]) summary .has-marker:after{ transform:rotate(90deg); width:14px }
:is(details:not(:open), details:not([open])) summary .has-marker:after{ transform:rotate(180deg) }

.bloc{
    background:var(--default-color);
    color:#fff;
    border-radius:2px;
    padding:4px 15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.key-information{
    display:flex;
    gap:15px;
    & > div{
        display:flex;
        gap:5px;
    }
    & dd{
        margin:0;
        font-weight:450;
    }
    & dt{
        font-weight:350;
    }
}

.hover-popup{
    position:fixed;
    padding:20px;
    background:rgba(255,255,255,0.7);
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter:blur(5px);
    z-index:9;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    max-height:100vh;
    overflow:hidden;
    opacity:1;
    display:block;
    transition:opacity 100ms allow-discrete, display 100ms allow-discrete;
    @starting-style{ opacity:0; }
    &.hidden{
        opacity:0;
        display:none;
    }
}

@media screen and (max-width:768px){
    :root{
        --left-gap:20px;
    }

    html{ font-size: 12px }
    main > section{
        text-align:center;
    }
    .section-heading{
        justify-content:center;
    }

    main > section.shaded{
        margin:0 20px 20px 20px;
        padding:20px 30px 30px 30px;
    }

    section.shaded > h1{
        margin-left:var(--left-gap);
    }

    .heading-link svg{
        width:25px;
    }

    #hero{
        margin-bottom:20px;
    }
    #hero h1{
        padding-bottom:10px;
    }
}