.large-graph-section{
    display:flex;
    flex-direction:column;
    padding:30px 50px;
    margin:30px var(--left-gap);
    text-align:center;
    max-height:calc(100vh - 60px);
    background:#fff;
    scroll-margin-top:30px;
}

.large-table-section{
    padding:30px 50px;
    margin:30px var(--left-gap);
    scroll-margin-top:30px;
    text-align:center;
    background:#fff;
}