#tracker-container{
    display:flex;
    flex-wrap:wrap;
    margin:0 50px;
    gap:30px;
}

#tracker-container > div{
    background:#fff;
    padding:30px;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
    text-align:center;
}

#graph-container, #table-container{
    flex:1;
    max-width:100%;
}