@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --default-color: #AAA;
    --box-shadow-color: rgba(200,200,200,0.1);
}

*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: "Oswald", sans-serif;
}

html{
    font-size: 12pt;
}

body{
    margin:0;
    padding:0;
    background: rgb(240,241,243);
}

h1, h2, h3, h4, h5, h6{ margin: unset }

h1{ font-weight: 700; font-size:2.8em; }
h2{ font-weight: 600 }
h3{ font-weight: 500 }
h4{ font-weight: 400 }

a.unstyled{
    text-decoration:inherit;
    color:inherit;
}

section{
    position:relative;
    padding:30px 0;
    margin:50px 0;
    margin-top:1px;
}

main > section.shaded{
    --box-shadow-color:rgba(190,190,215,1);
    background:rgb(220,220,245);
}

section > h1{
    margin:50px;
    display:inline-block;
    vertical-align:middle;
}

span.interactive{
    cursor:pointer;
    text-decoration:underline;
    text-underline-offset:2px;
    transition:background-color 100ms;
    padding:0 1px;
}
span.interactive:hover{
    background-color:rgb(230,230,230);
}

button{
    -webkit-appearance:none;
    appearance:none;
    border:none;
    cursor:pointer;
    border-radius:2px;
    box-shadow:2px 2px 0 2px rgba(170,170,195,1);
}

button:active{
    box-shadow:none;
    transform:translate(1px,1px);
}