@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --default-color: #AAA;
    --box-shadow-color: rgba(200,200,200,0.1);
    --left-gap:100px;
}

*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: "Oswald", sans-serif;
}

html{
    font-size: 16px;
}

body{
    margin:0;
    padding:0;
    background: rgb(240,241,243);
}

h1, h2, h3, h4, h5, h6{ margin: unset }

h1{ font-weight: 700; font-size:2.8em; }
h2{ font-weight: 600 }
h3{ font-weight: 500 }
h4{ font-weight: 400 }

a.unstyled{
    text-decoration:inherit;
    color:inherit;
}

section{
    position:relative;
    padding:30px 0;
    margin:0 0 50px 0;
}

section.shaded{
    scroll-margin-top:30px;
    background:rgb(220,220,220);
    border-radius:2px;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
}

section.shaded.purple { background:rgb(220,220,245); color:rgb(22, 22, 76) }
section.shaded.purple *{ --box-shadow-color:rgb(190,190,215) }

section.shaded.yellow { background:rgb(248, 250, 220); color:rgb(78, 82, 12) }
section.shaded.yellow *{ --box-shadow-color: rgb(211, 215, 190) }

section.shaded.red { background:rgb(244, 212, 212); color:rgb(73, 19, 19) }
section.shaded.red *{ --box-shadow-color: rgb(200, 190, 190) }

section.shaded.green { background:rgb(220, 250, 225); color:rgb(12, 82, 23) }
section.shaded.green *{ --box-shadow-color: rgb(190, 200, 180) }

#hero{
    text-align:center;
    padding:50px var(--left-gap) 50px var(--left-gap);
    background:rgb(220,220,245);
    margin-bottom:70px;
}

#hero h1{
    font-size:3.5em;
    padding-bottom:30px;
    margin:0;
}

main > section.shaded{
    margin:0 var(--left-gap) 50px var(--left-gap);
    padding:20px 50px 50px 50px;
}

main > section > h1{
    margin:50px var(--left-gap);
    display:inline-block;
    vertical-align:middle;
}
section.shaded > h1{ margin-left: 0 }

main > section > .section-heading{
    margin:50px var(--left-gap);
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:20px 50px;
}

span.interactive{
    cursor:pointer;
    text-decoration:underline;
    text-underline-offset:2px;
    transition:background-color 100ms;
    padding:0 1px;
}
span.interactive:hover{
    background-color:rgb(230,230,230);
}

button{
    -webkit-appearance:none;
    appearance:none;
    border:none;
    cursor:pointer;
    border-radius:2px;
    box-shadow:2px 2px 0 2px var(--box-shadow-color);
}

button:active{
    box-shadow:none;
    transform:translate(1px,1px);
}

@media screen and (max-width: 750px){
    :root{
        --left-gap:20px;
    }

    html{ font-size: 12px }
    main > section{
        text-align:center;
    }
    .section-heading{
        justify-content:center;
    }

    main > section.shaded{
        margin:0 20px 20px 20px;
        padding:20px 30px 30px 30px;
    }
}