.zoom-to-extent button{
    background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJyZ2IoMTAyLDEwMiwxMDIpIj48cGF0aCBkPSJNMjQgOWgtNHYtNWgtNXYtNGg5djl6bS05IDE1di00aDV2LTVoNHY5aC05em0tMTUtOWg0djVoNXY0aC05di05em05LTE1djRoLTV2NWgtNHYtOWg5eiIvPjwvc3ZnPg==");
    background-size:13px;
    background-position:center;
    background-repeat:no-repeat;
}