.summary-bars-container{
    margin:5px 0;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    height:25px;
    gap:5px;
    width:100%;
    max-width:750px;
}

.summary-bar-container{
    display:flex;
    width:100%;
}
.summary-bar-container > *:first-child{ border-top-left-radius:2px; border-bottom-left-radius:2px }
.summary-bar-container > *:last-child{ border-top-right-radius:2px; border-bottom-right-radius:2px }

.summary-bar, .summary-ghost-bar{
    display:flex;
    cursor:default;
    color:#fff;
    padding:0 10px;
    align-items:center;
    gap:10px;
}
    .summary-ghost-bar{
        opacity:calc(1 / 3);
    }

.summary-bar-party{
    font-weight:500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-bar-count{
    font-weight:400;
}

@media screen and (max-width: 750px){
    .summary-bar{
        padding:0 5px;
    }
}