.CandidatesMasonryList.pre-hydration{
    & .CandidatesMasonryList__title{
        text-transform:uppercase;
    }
} 

.CandidatesMasonryList{
    margin-top:20px;
    margin-bottom:30px;
    & .summary-label{
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
        column-gap:30px;
        align-items:baseline;
        & > .has-marker{
            font-weight:350;
        }
    }
}

.CandidatesMasonryList__container, .CandidatesMasonryList__collapsed-container{
    --row-span:3; /* minimum default */
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    gap:30px;
    margin-top:10px;
}

.CandidatesMasonryList__item{
    grid-row:span var(--row-span);
    min-width:0;
    text-align:left;
}

.CandidatesMasonryList__title{
    display:inline-block;
    font-weight:450;
    cursor:default;
    text-wrap:wrap;
}

.CandidatesMasonryList__table{
    width:100%;
    border-spacing:2px;
    margin-left:-2px;
    table-layout:fixed;
    cursor:default;

    & > colgroup > col:first-child{
        width:55px;
    }
    & td{
        background:#EEE;
        color: #000;
        &.tnum{ text-align:right; }
    }

    & .CandidatesMasonryList__elected > td{
        font-weight:450;
        background:var(--default-color);
        color:#FFF;
    }

    & tr:not(.CandidatesMasonryList__elected):has(~ tr.CandidatesMasonryList__elected) > td{ /* elected in constituency */
        opacity:0.5;
    }
}


@media screen and (max-width:768px){
    .CandidatesMasonryList__table > colgroup > col:first-child{
        width:50px;
    }
}