#container{
    display:flex;
    overflow:auto;
    gap:30px;
    padding:0 50px 50px var(--left-gap);
}

@media screen and (max-width:768px){
    #container{
        scroll-snap-type:x mandatory;
    }
}