#container{
    display:flex;
}

#container aside{
    flex:0 0 400px;
    padding:30px;
    overflow-y:auto;
}

#container main{
    flex:1;
    padding:30px 50px 50px 50px;
    overflow:auto;
    display:flex;
    flex-direction:column;
    gap:30px;
}
#container main > section{ margin: 0 }
#container main > section:has(article){ padding: 0 }

#container main section h1{ margin: 30px 0 0 0 }

#container main article{ position: relative }
#container main article:not(:last-child):before{
    content:"";
    position:absolute;
    background:#DDD;
    width:4px;
    height:30px;
    top:100%;
    left:calc(50% - 2px);
    z-index:-1;
}

@media screen and (max-width: 1000px){
    #container{
        flex-direction:column-reverse;
        height:auto;
    }

    #container main{
        padding:20px;
    }

    #container aside{
        flex-basis:auto;
    }
}