.container{
    padding:20px;
    background:#fff;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
    width:100%;
    display:flex;
    gap:20px;
}

.election-heading-container{
    flex:0 0 280px;
    height:150px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:5px;
}

.election-title{
    cursor:default;
    display:flex;
    align-items:baseline;
    gap:10px;
}

.election-title h2{
    display:flex;
    align-items:center;
    gap:5px;
}

    .election-title-text{
        font-size:2.7rem;
    }

    .election-subtitle-text{
        font-size:1.3rem;
        line-height:1.4rem;
        text-align:left;
    }

.pope-container{
    display:flex;
    flex-direction:column;
    gap:5px;
    width:100%;
}

.papal-name{
    padding:5px 10px;
    border-radius:2px;
    text-align:center;
    background:#ffee00;
    width:100%;
    font-weight:500;
}

.real-name{
    text-align:center;
    width:100%;
}

.election-results-container{
    display:flex;
    flex-wrap:wrap;
    flex:1;
    row-gap:20px;
}

.election-results-container > div{
    flex:0 0 250px;
    height:150px;
    padding-top:0px;
}

.election-results-container > *:nth-child(n+2){
    background:#eee;
}