#container{
    display:flex;
    overflow:auto;
    gap:30px;
    padding:0 50px 50px var(--left-gap);
}

.graph-container{
    margin:0;
    padding:20px;
    background:#fff;
    box-shadow:1px 1px 0 1px var(--box-shadow-color);
    text-align:center;
    display:flex;
    flex-direction:column;
}

.graph-container svg{
    flex:1;
    width:500px;
}