.summary-bar-container{
    margin:5px 0;
    display:flex;
    align-items:center;
    height:25px;
    gap:2px;
    width:100%;
    max-width:750px;
}

.summary-segment{
    cursor:default;
    color:#fff;
    display:flex;
    align-items:center;
    gap:10px;
    height:100%;
    container-name: segment;
    container-type: size;
}
.summary-segment:before, .summary-segment:after{ content: "" }
.summary-segment:first-child{ border-top-left-radius:2px; border-bottom-left-radius:2px }
.summary-segment:last-child{ border-top-right-radius:2px; border-bottom-right-radius:2px }

@container segment (width < 65px){ .summary-segment-party{ display:none } }
@container segment (width < 28px){ .summary-segment-count{ display:none } }

.summary-segment.outstanding{
    background-image:linear-gradient(135deg, #eee 22.22%, #ddd 22.22%, #ddd 50%, #eee 50%, #eee 72.22%, #ddd 72.22%, #ddd 100%);
    background-size:30px 30px;
}


.summary-segment-party{
    font-weight:500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-segment-count{
    font-weight:400;
}

@media screen and (max-width:768px){
    .summary-segment{
        padding:0 5px;
    }
}